In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
###### In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**

- List popular languages used by Data Scientists.
- List common libraries used by Data Scientists.
- Data Science Tool Table.

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

In [ ]:
|Data Science Tools | 
| ------ | 
| MySQL | 
|MongoDB | 
| CouchDB | 
| Hadoop |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5.

In [13]:
# This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335

## Author
Scott Guinto